body {
    background-color: #e4d8eb;
}

.Title {
    font-family: Helvetica, "Times New Roman", sans-serif;
    text-align: center;
    font-size: 40px;
}

.Recipe-List{
    font-family: Helvetica, "Times New Roman", sans-serif;
}